'.source.coffee':
  'Function (->)':
    'prefix': 'ff'
    'body': '-> '


  'Function (Args)':
    'prefix': 'fa'
    'body': '(${1:args}) -> $0'


  'Bound Function':
    'prefix': 'bf'
    'body': '=> '


  'Bound Function (Args)':
    'prefix': 'bfa'
    'body': '(${1:args}) => $0'


  'Use Strict':
    'prefix': 'ustr'
    'body': "'use strict'"
