'.source.coffee':

  'require expect':
    'prefix': 'rre'
    'body':
      """
      expect = require('chai').expect
      """



  'expect: to.equal':
    'prefix': 'exe'
    'body':
      """
      expect(${1:value}).to.equal ${2:result} $0
      """

  'expect: to.eql':
    'prefix': 'exee'
    'body':
      """
      expect(${1:value}).to.eql ${2:result} $0
      """




  'expect: NOT to.equal':
    'prefix': 'ene'
    'body':
      """
      expect(${1:value}).not.to.equal ${2:result} $0
      """

  'expect: NOT to.eql':
    'prefix': 'enee'
    'body':
      """
      expect(${1:value}).not.to.eql ${2:result} $0
      """


  'expect: to throw':
    'prefix': 'ett'
    'body':
      """
      fn = -> $0
      expect(fn).to.throw(/${1:error-text}/)
      """
