'.source.coffee':
  'module-exports':
    'prefix': 'me'
    'body':
      """
      module.exports = $0
      """

  'require':
    'prefix': 'rer'
    'body':
      """
      require('${1}')$0
      """


  'require lodash':
    'prefix': 'rell'
    'body':
      """
      _ = require('lodash')$0
      """


  'require react':
    'prefix': 'rerr'
    'body':
      """
      React = require('react')$0
      """
