'.source.coffee':

  '<tag></tag>':
    'prefix': '<'
    'body':
      """
      <${1:tag}>$0</${1:tag}>
      """


  '<tag/>':
    'prefix': '<<'
    'body':
      """
      <${1:tag}/>$0
      """


  '<div is="">':
    'prefix': 'divis'
    'body':
      """
      <div is="${1:class}">$0</div>
      """

  '<span is="">':
    'prefix': 'spanis'
    'body':
      """
      <span is="${1:class}">$0</span>
      """



  'className':
    'prefix': 'cn'
    'body':
      """
      className='$1'$0
      """




  'jsx':
    'prefix': 'jsx'
    'body':
      """
      'use strict'
      React = require('react')
      css = require('react-css')
      { PropTypes } = require('core-util/react')


      ###
      $0
      ###
      class ${1:Name} extends React.Component
        css: css.inline

        styles: -> @css()
        classes: ->
          'default':
            root:
              background: 'rgba(255, 0, 0, 0.1)' #RED


        render: ->
          <div is="root">
            ${1:Name}
          </div>


      module.exports = ${1:Name}
      """






  'React class':
    'prefix': 'rrcl'
    'body':
      """
      class ${1:Name} extends React.Component
        css: css.inline

        styles: -> @css()
        classes: ->
          'default':
            root: {}

        render: ->
          <div is="root">
            ${1:Name}
          </div>$0
      """



  'CSS test styles':
    'prefix': 'csstest'
    'prefix': 'csstest'
    'body':
      """
      background: 'rgba(255, 0, 0, 0.1)' #RED
      border: 'dashed 1px rgba(0, 0, 0, 0.3)'
      padding: 20
      borderRadius: 5
      """





  'React Lifecycle Methods':
    'prefix': 'rrlife'
    'body':
      """
      componentWillMount: ->
      componentDidMount: ->
      componentWillReceiveProps: (nextProps) ->
      shouldComponentUpdate: (nextProps, nextState) ->
      componentWillUpdate: (nextProps, nextState) ->
      componentDidUpdate: (prevProps, prevState) ->
      componentWillUnmount: ->

      """



  'React: findDOMNode()':
    'prefix': 'rdn'
    'body':
      """
      React.findDOMNode(${1:component}) $0
      """


  'React: dangerouslySetInnerHTML':
    'prefix': 'danger'
    'body':
      """
      <${1:span} dangerouslySetInnerHTML={{__html: ${2:html}}} />$0
      """



  'React: PropTypes':
    'prefix': 'rproptypes'
    'body':
      """
      @propTypes:
        ${1:isEnabled}: PropTypes.${2:bool}

      @defaultProps:
        ${1:isEnabled}: ${3:true} $0
      """


  'React: PropType':
    'prefix': 'rpt'
    'body':
      """
      ${1:propName}: PropTypes.$0
      """


  'React: Descructuring Props':
    'prefix': 'da'
    'body':
      """
      \{ $1 \} = ${2:@props} $0
      """
