'.source.coffee':
  'require':
    'prefix': 'rrr'
    'body':
      """
      require('${1}')$0
      """


  'require lodash':
    'prefix': 'rell'
    'body':
      """
      _ = require('lodash')$0
      """


  'require core-util':
    'prefix': 'reu'
    'body':
      """
      util = require('core-util')$0
      """


  'require react':
    'prefix': 'rerr'
    'body':
      """
      React = require('react')$0
      """


  'require PropTypes':
    'prefix': 'rep'
    'body':
      """
      { PropTypes } = require('core-util/react')$0
      """
