'.source.coffee':
  'css: rgba':
    'prefix': 'col'
    'body':
      """
      rgba(${1:0}, ${2:0}, ${3:0}, 0.${4:3})$0
      """


  'css: background':
    'prefix': 'bg'
    'body':
      """
      background: $0
      """
