'.source.coffee':
  'React.createClass':
    'prefix': 'rclass'
    'body':
      """
      ${1:ClassName} = React.createClass
        render: ->
          <div>$0</div>
      """


  '<tag></tag>':
    'prefix': '<'
    'body':
      """
      <${1:tag}>$0</${1:tag}>
      """

  '<tag/>':
    'prefix': '<<'
    'body':
      """
      <${1:tag}/>$0
      """



  'className':
    'prefix': 'cn'
    'body':
      """
      className='$1'$0
      """
