'.source.coffee':
  'require':
    'prefix': 'rrr'
    'body':
      """
      require('${1}')$0
      """


  'require expect':
    'prefix': 'reex'
    'body':
      """
      expect = require('chai').expect
      """


  'require: lodash':
    'prefix': 'rell'
    'body':
      """
      _ = require('lodash')$0
      """


  'require: core-util':
    'prefix': 'reu'
    'body':
      """
      util = require('core-util')$0
      """


  'require: react':
    'prefix': 'rerr'
    'body':
      """
      React = require('react')$0
      """


  'require: PropTypes':
    'prefix': 'rept'
    'body':
      """
      { PropTypes } = require('core-util/react')$0
      """


  'require: ui-harness/helpers':
    'prefix': 'rehelp'
    'body':
      """
      { Foo, lorem, time } = require('ui-harness/helpers')$0
      """


  'require: ui-harness/helpers (lorem | time)':
    'prefix': 'relorem'
    'body':
      """
      { lorem, time } = require('ui-harness/helpers')$0
      """


  'require: core-ui/components/':
    'prefix': 'recore'
    'body':
      """
      ${1:Name} = require('core-ui/components/${1:Name}')$0
      """
