'.source.js':
  'Describe (BDD)':
    'prefix': 'des'
    'body':
      """
      describe('${1:suite}', () => {
        $0
      });
      """


  'Describe (BDD:Async)':
    'prefix': 'dess'
    'body':
      """
      describe('${1:suite}', (done) => {
        $0
      });
      """


  'it (BDD)':
    'prefix': 'it'
    'body':
      """
      it('${1:does}', () => {
        $0
      });
      """


  'it (BDD:async)':
    'prefix': 'itd'
    'body':
      """
      it('${1:does}', (done) => {
        $0
      });
      """

  'Before Each (BDD)':
    'prefix': 'be'
    'body':
      """
      beforeEach(() => {$0});
      """


  'Before (BDD)':
    'prefix': 'before'
    'body':
      """
      before(() => {$0});
      """



  '.only':
    'prefix': 'only'
    'body':
      """
      only
      """


  'describe.only':
    'prefix': 'describeo'
    'body':
      """
      describe.only
      """


  'it.only':
    'prefix': 'ito'
    'body':
      """
      it.only
      """
