".source.js":
  "Describe (BDD)":
    "prefix": "des"
    "body":
      """
      describe("${1:suite}", function() {
        $0
      });
      """


  "Describe (BDD:Async)":
    "prefix": "dess"
    "body":
      """
      describe("${1:suite}", function(done) {
        $0
      });
      """


  "it (BDD)":
    "prefix": "it"
    "body":
      """
      it("${1:does}", () => {$0});
      """

  "it (`code`)":
    "prefix": "itc"
    "body":
      """
      it("`${1:does}`", () => {$0});
      """

  "it (props)":
    "prefix": "itp"
    "body":
      """
      it("`${1:does}`", () => this.props({ $0 }));
      """



  "it (function)":
    "prefix": "itt"
    "body":
      """
      it("${1:does}", function() {$0});
      """



  "it (BDD:async)":
    "prefix": "itd"
    "body":
      """
      it("${1:does}", (done) => {$0});
      """


  "Before Each (BDD)":
    "prefix": "be"
    "body":
      """
      beforeEach(() => {$0});
      """


  "Before (BDD)":
    "prefix": "before"
    "body":
      """
      before(() => {$0});
      """


  "After Each (BDD)":
    "prefix": "ae"
    "body":
      """
      afterEach(() => {$0});
      """


  "After (BDD)":
    "prefix": "after"
    "body":
      """
      after(() => {$0});
      """



  ".only":
    "prefix": "only"
    "body":
      """
      only
      """


  "describe.only":
    "prefix": "describeo"
    "body":
      """
      describe.only
      """


  "describe.skip":
    "prefix": "describes"
    "body":
      """
      describe.skip
      """


  "it.only":
    "prefix": "ito"
    "body":
      """
      it.only
      """


  "it.skip":
    "prefix": "its"
    "body":
      """
      it.skip
      """



  "section":
    "prefix": "section"
    "body":
      """
      section("${1:name}", () => {
        $0
      });
      """



  "header":
    "prefix": "header"
    "body":
      """
      this.header(`## $0`);
      """
