'.source.js':
  'console.log':
    'prefix': 'll'
    'body':
      """
      console.log('${1:title}', ${2:$1}$0);
      """


  'console.log (simple)':
    'prefix': 'lll'
    'body':
      """
      console.log($0);
      """


  'console.log - New Line':
    'prefix': 'ln'
    'body':
      """
      console.log('');
      """


  'console.log - HR':
    'prefix': 'lhr'
    'body':
      """
      console.log('-------------------------------------------');
      """
