".source.js, .source.ts, .source.tsx":
  "Comment":
    "prefix": "q"
    "body":
      """
      // $0
      """


  "Comment - Multiline":
    "prefix": "qq"
    "body":
      """
      /*
      $0
      */
      """

  "Comment - Single Line (JSX)":
    "prefix": "qqq"
    "body":
      """
      {/* $0 */}
      """



  "Comment - Docs":
    "prefix": "qd"
    "body":
      """
      /**
       * $0
       */
      """


  "Comment - Documentation Line (*)":
    "prefix": "s"
    "body":
      """
      * $0
      """

  "Comment - @param":
    "prefix": "pm"
    "body":
      """
      * @param {${1:type}} $0
      """

  "Comment - @return":
    "prefix": "pr"
    "body":
      """
      * @return $0
      """


  "Comment - Horizontal Rule":
    "prefix": "hr"
    "body":
      """
      // -----------------------------------------------------------------------------
      """



  "Comment - Setup initial conditions":
    "prefix": "setup"
    "body":
      """
      // Setup initial conditions.
      """


  "Comment - Finish up":
    "prefix": "fin"
    "body":
      """
      // Finish up.
      """


  "Comment - TEMP":
    "prefix": "temp"
    "body":
      """
      // TEMP $0
      """



  "Comment - eslint":
    "prefix": "clint"
    "body":
      """
      /* eslint $0 */
      """
