".source.js":
  "import":
    "prefix": "imp"
    "body":
      """
      import ${1:module} from '${2:module}'';$0
      """

  "import (current directory)":
    "prefix": "impd"
    "body":
      """
      import ${1:module} from './${2:module}';$0
      """


  "import: expect":
    "prefix": "impe"
    "body":
      """
      import { expect } from 'chai';
      """


  "import: Promise":
    "prefix": "impp"
    "body":
      """
      import Promise from 'bluebird';
      """


  "import: ramda":
    "prefix": "impr"
    "body":
      """
      import R from 'ramda';
      """


  "import: util":
    "prefix": "impu"
    "body":
      """
      import * as util from 'js-util';
      """


  "import: react/css":
    "prefix": "impcss"
    "body":
      """
      import { css, PropTypes } from 'js-util/react';
      """




  "import: react":
    "prefix": "impre"
    "body":
      """
      import React from 'react';
      """



  "import: immutable":
    "prefix": "impi"
    "body":
      """
      import Immutable from 'immutable';
      """


  "import: test":
    "prefix": "imptest"
    "body":
      """
      import { lorem } from 'js-util/test';
      """


  "import: Foo":
    "prefix": "impfoo"
    "body":
      """
      import Foo from 'react-atoms/components/Foo';
      """
