".source.js, .source.ts, .source.tsx":
  "import":
    "prefix": "imp"
    "body":
      """
      import ${1:* as }${2:module} from '${3:module}';$0
      """


  "import: { part }":
    "prefix": "impp"
    "body":
      """
      import { ${2:part} } from '${3:module}';$0
      """




  "import: expect":
    "prefix": "impe"
    "body":
      """
      import { expect } from 'chai';
      """




  "import: ramda":
    "prefix": "impr"
    "body":
      """
      import * as R from 'ramda';
      """


  "import: util":
    "prefix": "impu"
    "body":
      """
      import * as util from 'js-util';
      """




  "import: react":
    "prefix": "impre"
    "body":
      """
      import * as React from 'react';
      """


