".source.js, .source.ts, .source.tsx":
  "console.log":
    "prefix": "ll"
    "body":
      """
      console.log("${1:title}", ${2:$1});
      """


  "console.log (simple)":
    "prefix": "lll"
    "body":
      """
      console.log($0);
      """


  "console.log - New Line":
    "prefix": "ln"
    "body":
      """
      console.log("");
      """


  "console.log - HR":
    "prefix": "lhr"
    "body":
      """
      console.log("-------------------------------------------");
      """


  "console.warn":
    "prefix": "lw"
    "body":
      """
      console.warn($0);
      """


  "console.error":
    "prefix": "le"
    "body":
      """
      console.error($0);
      """


  "console.trace":
    "prefix": "trace"
    "body":
      """
      console.trace();
      """




  "log.info":
    "prefix": "li"
    "body":
      """
      log.info('${1:title}', ${2:$1});
      """

  "log.info (simple)":
    "prefix": "lli"
    "body":
      """
      log.info($0);
      """

  "log.warn":
    "prefix": "llw"
    "body":
      """
      log.warn($0);
      """

  "log.error":
    "prefix": "lle"
    "body":
      """
      log.error($0);
      """
