'.source.js':
  'React.createClass':
    'prefix': 'rclass'
    'body':
      """
      var ${1:ClassName} = React.createClass({
        render: function() {
          return (
            $0
          );
        }
      });
      """


  '<tag>':
    'prefix': '<'
    'body':
      """
      <${1:tag} ${2:className='$3'}>
        $0
      </${1:tag}>
      """



  'Comment(JS) - Horizontal Rule':
    'prefix': 'hr'
    'body':
      """
      // ----------------------------------------------------------------------------
      """


  'console.log':
    'prefix': 'cl'
    'body':
      """
      console.log('${1:title}', ${2:$1}$0);
      """

  'console.log - New Line':
    'prefix': 'cln'
    'body':
      """
      console.log('');
      """


  'function()':
    'prefix': 'f'
    'body':
      """
      function($1) {$0};
      """
