".source.js":
  "require":
    "prefix": "rrr"
    "body":
      """
      require("${1}");$0
      """

  "require expect":
    "prefix": "reex"
    "body":
      """
      var { expect } = require("chai");
      """


  "require lodash":
    "prefix": "rel"
    "body":
      """
      var _ = require("lodash");
      """
