".source.js, .source.ts, .source.tsx":
  "require":
    "prefix": "rrr"
    "body":
      """
      require('${1}');$0
      """

  "require expect":
    "prefix": "reex"
    "body":
      """
      var { expect } = require('chai');
      """
