".source.gfm":

  "js":
    "prefix": "js"
    "body":
      """
      ```js
      $0
      ```
      """


  "bash":
    "prefix": "bash"
    "body":
      """
      ```bash
      $0
      ```
      """



  "Changelog: [Unreleased]":
    "prefix": "unreleased"
    "body":
      """
      ## [Unreleased] - YYYY-MM-DD
      #### Added
      #### Changed
      #### Deprecated
      #### Removed
      #### Fixed
      #### Security
      """
