# Console
'.source.coffee':
  'console.error':
    'prefix': 'le'
    'body':
      """
      console.error '${1:error}'
      """


  'console.log':
    'prefix': 'll'
    'body':
      """
      console.log '${1:title}', ${2:$1} $0
      """


  'console.log (text only)':
    'prefix': 'l'
    'body':
      """
      console.log $0
      """


  'console.log (new line)':
    'prefix': 'ln'
    'body':
      """
      console.log ''
      """


  'console.log(---)':
    'prefix': 'lhr'
    'body':
      """
      console.log '-------------------------------------------'
      """

  'console.warn':
    'prefix': 'lw'
    'body':
      """
      console.warn '${1:title}', ${2:$1} $0
      """

  'console.error':
    'prefix': 'le'
    'body':
      """
      console.error '${1:title}', ${2:$1} $0
      """



  'debugger':
    'prefix': 'deb'
    'body':
      """
      debugger
      """


  'trace':
    'prefix': 'trace'
    'body':
      """
      console.trace()
      """
