# Comments
'.source.coffee':
  'Comment - Horizontal Rule':
    'prefix': 'hr'
    'body': '# ----------------------------------------------------------------------------'


  '@param':
    'prefix': 'pm'
    'body': "@param $0"


  '@returns':
    'prefix': 'pr'
    'body': "@returns $0"


  'Comment':
    'prefix': 'q'
    'body': "# $0"


  'Comment Block':
    'prefix': 'qq'
    'body': """
      ###
      $0
      ###
    """


  'Comment: Setup initial conditions':
    'prefix': 'set'
    'body': "# Setup initial conditions."


  'Comment: Finish Up':
    'prefix': 'fin'
    'body': "# Finish up."



  'Comment: TEMP':
    'prefix': 'te'
    'body': "# TEMP $0"
